<section class="question-stat"
  <section class="votes_stat">
    <p><%=question.votes.count%></p>
    <h5>Votes</h5>
  </section>

  <section class="answers_stat">
    <p><%=question.answers.count%></p>
    <h5>Answers</h5>
  </section>

  <section class="visits_stat">
    <p><%=question.visits.count%></p>
    <h5>Views</h5>
  </section>
</section>
