<%= erb :_errors %>


<h1>Smacks</h1>


<% @questions.each do |question| %>
  <section class="question-container">
    <h2><a href='/questions/<%=question.id%>'><%=question.title%></a></h2>
    <%= erb :'/questions/_question_stats', locals: {question: question} %>
  </section>
<% end %>
