<form class='hidden-hack question-comment-form' action="/questions/<%=question.id%>/comment" method="post">
  <textarea rows="5" cols="40" name="body" type="text" placeholder="Write your comment."></textarea>
  <input class="button" type="submit" value="Submit Comment">
</form>
