.hidden {
  display: none;
}


/*HEADER STYLINGS*/
header {
  background-image:url(../imgs/wood.jpg);
  padding-top: 1%;
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
}

nav a #greeting{
  color:black;
}

/*LOGO STYLINGS*/
img {
  width: 90%;
}

.logo {
  width:7%;
  margin-left:2em;
}

/*MAIN STYLINGS*/
body {
  background-image: url(../imgs/brickwall.png);
  padding:0 1em 0 1em;
}

/*VOTE STYLINGS*/

.vote_counter, .vote_button {
  display:inline-block;
}
/*STATS STYLIING*/
.votes_stat, .answers_stat, .visits_stat, .question-stat {
  display:inline-block;
  margin: 0.5em;
  text-align: center;
}

.votes_stat, .answers_stat {
  border-right: 1px solid black;
  padding-right: 1em;
}
/*QUESTIONS INDEX STYLINGS*/
.question-container {
}

.question-container h2 {
  display:inline-block;
  font-size: 1.5em;
}

