.hidden {
  display: none;
}


/*HEADER STYLINGS*/
header {
  background-image:url(../imgs/wood.jpg);
  padding-top: 3%;
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
}

nav a #greeting{
  color:black;
}

/*MAIN STYLINGS*/
body {
  background-image: url(../imgs/brickwall.png)
}

/*VOTE STYLINGS*/

.vote_counter, .vote_button {
  display:inline-block;
}
