<section class="vote_display">

  <form class="vote" action="/answers/<%=answer.id%>/votes" method="post" >
    <input type="submit" class="btn btn-default btn-sm" value="+">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
  </form>
  <section class="vote_counter">
     <%= erb :'/votes/_vote_count', locals: {answer: answer} %>
  </section>
  <form class="vote_delete" action="/answers/<%=answer.id%>/votes" method="post">
    <input type="submit" class="btn btn-default btn-sm" value="-">
    <input name="_method" type="hidden" value="delete" />
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </button>
  </form>
</section>

