<section class="vote_display">
  <form class="vote" action="/answers/<%=answer.id%>/votes" method="post" >
    <input type="submit" value="+">
  </form>
  <section class="vote_counter">
     <%= answer.votes.length %>
  </section>
  <form action="" method="post">
    <input type="submit" value="-">
  </form>
</section>
